module fshop

go 1.18

require (
        github.com/8treenet/freedom v1.9.2
        github.com/redis/go-redis/v9 v9.17.2
        github.com/8treenet/iris/v12 v12.1.8
        gopkg.in/go-playground/validator.v9 v9.31.0
        gorm.io/driver/mysql v1.1.3
        gorm.io/gorm v1.22.2
)
